
body{
    background-color: #A8D0E6;
  }
hr{
    border-style: dotted none none;
    color: #DDDDDD;
    height: 10px;
    border-width: 7px;
    width: 5%;
  }
h1{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  color: #F76C6C;
}
h3{
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 20px;
  color: #C38D9E;
}
p{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #41B3A3;
}
a{
  text-decoration: none;
  color: #374785;
}
a:hover{
  color: #F8E9A1;
  text-decoration: underline;
}
table{
  color: #24305E;
}
ul{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #41B3A3;
}
ol{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #41B3A3;
}
td{
  font-family: cursive;
}
label{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #41B3A3;
}
